.search__btncontainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search__btn {
    background-color: rgba(0, 0, 0, 0.625);
    color: antiquewhite;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 200px;
}