.searchByName {
    text-align: center;
    margin-bottom: 10px;
}

.searchByName__input {
    border-radius: 20px;
    height: 40px;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
}