.counter {
    text-align: center;
}

.counter__buttons {
    display: flex;

}

button {
    padding: 10px;
    width: 40px;
    border: none;
    background-color: rgb(102, 100, 97);
}

button:hover {
    background-color:#085e90;;
}

.counter__add,
.counter__substract {
    padding: 10px;
}